<head>
<link href='http://fonts.googleapis.com/css?family=Roboto:700,300' rel='stylesheet' type='text/css'>
</head>

<body id = "welcome">
  <div id = "title-section">
    <div id="app-title">
      <h1>Volunteer/Student Matcher</h1>
    </div>
  </div>
  <div id="front-page-buttons">
    <button class="front-page-button"><a href="/login">Log In</a></button>
    <button class="front-page-button"><a href="/tutors/new">Create Account</a></button>
  </div>
</body>